$green-light: #00ca00;
$green: #008822;
$green-darklight: #036e35;
$green-dark: #004b23;
$red: #cf0707;
$pink-light: #e67a7a;
$gray-dark: #525252;
$gray-light: #cccccc;
$white-ice: #ebebeb;

$border-neutral: solid 1px $gray-dark;
$border-invalid: solid 1px $red;
